<div class="content" *ngIf="restaurant">

  <div class="restaurant-infos">
    <div>
      <mat-card-content>
        <mat-card *ngIf="restaurant.opening_hours">
          <span *ngFor="let weekday of restaurant.opening_hours.weekday_text">{{weekday}}<br></span>
        </mat-card>
        <p *ngIf="restaurant && !restaurant.opening_hours">{{'no_timetable_found' | translate}}</p>
      </mat-card-content>
    </div>

    <div class="restaurant-photo-container">
      <div *ngFor="let image of restaurant.photos">
        <img src={{image}} class="photo">
      </div>
    </div>

  </div>

  <div class="restaurant-sub-infos">
      <mat-chip-list aria-label="Restaurant infos">
          <mat-chip class="chip-first">{{restaurant.rating}}</mat-chip>
          <mat-chip class="chip-second">{{restaurant.user_ratings_total}}</mat-chip>
          <mat-chip class="chip-third"></mat-chip>
        </mat-chip-list>
  </div>
  <mat-card *ngFor="let review of restaurant.reviews" class="comments">
    <mat-card-header>
      <mat-card-title>{{review.author_name}}</mat-card-title>
      <mat-card-subtitle><span class="rating">{{review.rating}}{{'notation' | translate}}</span> -
        <span>{{review.relative_time_description}}</span><br></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{review.text}}
    </mat-card-content>
  </mat-card>

</div>
<div *ngIf="!restaurant" class="spinner">
  <mat-spinner></mat-spinner>
</div>