@import "../../../assets/sass/variables.scss";

.restaurant-infos {
  display: flex;
}

.upper-details {
  display: flex;
}

img {
  width: 100%;
}

.restaurant-infos > div {
  min-width: 50%;
}

mat-card {
  margin: 10px;
  padding: 10px !important;
  font-weight: 700;

  mat-card-header {
    button {
      align-self: end;
    }

    mat-card-title {
      color: $yellow;
    }

    mat-card-subtitle {
      color: $red;
    }
  }
  
  mat-card-content {
    font-size: 0.95em;
    line-height: 1.6em;
  }

  span {
    color: $blue;
  }
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $red !important;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}
