@import "../../../assets/sass/variables.scss";

.restaurant-infos {
  display: flex;
  flex-direction: inherit;
  align-items: center;

  mat-card-header, mat-card-content {
    align-items: center;
    margin: 5px;
  }

  a {
    color: white;
    font-weight: 700;
  }
}

.upper-details {
  display: flex;
}

img {
  width: 100%;
}

.restaurant-infos > div {
  min-width: 50%;
}

mat-card {
  margin: 10px;
  padding: 10px !important;

  mat-card-header {
    button {
      align-self: end;
    }

    mat-card-title {
      color: $yellow;
        font-size: 15px !important;
    }

    mat-card-subtitle {
      color: $red;
    }
  }
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $red !important;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}
