@import "../../../assets/sass/variables.scss";

.restaurant-infos {
  display: flex;
  flex-direction: inherit;
  align-items: center;

  mat-card-header,
  mat-card-content {
    align-items: center;
    margin: 5px;
  }

  a {
    color: white;
    font-weight: 700;
  }
}

.upper-details {
  display: flex;
}

.restaurant-infos > div {
  min-width: 50%;
}

.rating {
  font-size: 13px;
  font-weight: 700;
  color: $red;
}

mat-card {
  margin: 10px;
  padding: 10px !important;
  font-weight: 600;
  letter-spacing: 0.25px;

  mat-card-header {
    button {
      align-self: end;
    }

    mat-card-title {
      color: $green;
      font-size: 15px !important;
    }

    mat-card-subtitle {
      color: $yellow;
    }
  }
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $red !important;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurant-infos mat-card {
  border: solid 3px $red;
}

.restaurant-photo-container {
  height: 250px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.comments {
  border: solid 3px $green;
}

@media only screen and (min-device-width: 268px) and (max-device-width: 1024px) and (orientation: portrait) {
  .content {
    padding-bottom: 250px;
  }
}
