@import "../../../assets/sass/variables.scss";

#gmap {
  width: 100%;
  height: 100%;
}

::ng-deep mat-snack-bar.custom-class {
  background-color: white;
  color: $yellow;
}

::ng-deep snack-bar-container.custom-class {
  background: yellow;
}

::ng-deep .custom-class {
  background-color: white;
}

