<div class="infos" *ngIf="!isConfirmation">{{'add_form_infos' | translate}}</div>
<div class="add-form">
  <mat-form-field class="example-large-width" *ngIf="!isConfirmation">
    <input matInput placeholder="Adresse" id="location" [(ngModel)]="locationValue" name="location">
    <mat-icon matSuffix>place</mat-icon>
    <mat-hint>{{'add_restaurant' | translate}}</mat-hint>
  </mat-form-field>

  <form [formGroup]="restaurantForm" *ngIf="!isConfirmation && restaurantForm">
    <div class="form-group">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nom du restaurant" class="form-control" id="name" formControlName="name">
      </mat-form-field>
    </div>
    <div class="form-group">
      <button mat-flat-button class="second" [matMenuTriggerFor]="menu" ngDefaultControl [(ngModel)]='type'
        [ngModelOptions]="{standalone: true}">{{foodType.name}}</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let type of types" (click)="isSelected(type)">
          {{type.name}}</button>
      </mat-menu>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width textarea">
        <textarea matInput placeholder="Description" class="form-control" id="description"
          formControlName="description"></textarea>
        <mat-hint>{{'hint_caracters_numbers' | translate}}</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width textarea">
        <textarea matInput placeholder="Mon nom" class="form-control" id="comment"
          formControlName="username"></textarea>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width textarea">
        <textarea matInput placeholder="Mon commentaire" class="form-control" id="comment"
          formControlName="comment"></textarea>
        <mat-hint>{{'hint_caracters_numbers' | translate}}</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group stars">
      <ngx-stars [size]="2" color="#FFC145" initialStars="3" (ratingOutput)="setRating($event)" id="notation"
        name="notation" ngDefaultControl></ngx-stars>
    </div>
    <br>
    <button mat-flat-button class="validate" type="submit" [disabled]="restaurantForm.invalid"
      (click)="onSubmit()">Rajouter</button>
  </form>

  <div *ngIf="isConfirmation && newRestaurant">
    <p>{{'added_element' | translate}}
      <br>{{'recap' | translate}}</p>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>
          <div>{{newRestaurant.name}}</div>
        </mat-card-title>
        <mat-card-subtitle>
          <div>{{newRestaurant.address}}</div>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="img-container">
          <img mat-card-image src="{{foodType.url}}" alt="Photo of dish">
        </div>
        <div class="type">{{newRestaurant.type}}</div>
        <div>{{newRestaurant.description}}</div><br>
        <hr>
        {{'my_comment' | translate}}<br>
        {{newRestaurant.ratings[0].comment}}
        <ngx-stars [size]="2" readonly="true" color="#FFC145" initialStars="{{newRestaurant.ratings[0].notation}}"
          id="notation"></ngx-stars>
      </mat-card-content>
    </mat-card>
  </div>
</div>