<mat-toolbar color="white" class="header">
  <img class="logo" src="../assets/img/logo.png" routerLink="/homepage" routerLinkActive="active">
  <div class="menu-header">
    <span (click)="displayRestaurants('')">
      <mat-icon matSuffix>room</mat-icon>
      {{'our_restaurants' | translate}}
    </span>
    <span (click)="displayRestaurants('fromDB')">
      <mat-icon matSuffix>thumb_up_alt</mat-icon>
      {{'referenced_restaurants' | translate}}
    </span>
    <span [matMenuTriggerFor]="menu" (click)="getAllTypes()" class="chosenType">
      <mat-icon matSuffix>local_dining</mat-icon>
      {{'popular_cuisine_types' | translate}}
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let type of types" (click)="displayRestaurants(type)">{{type}}</button>
      </mat-menu>
    </span>
    <mat-icon matSuffix>public</mat-icon>
    <span routerLink="/restaurants" routerLinkActive="active">
      {{'places_search' | translate}}
    </span>
    <mat-icon matSuffix>edit</mat-icon>
    <span routerLink="/add-restaurant" routerLinkActive="active">
      {{'add_an_address' | translate}}
    </span>
  </div>
  <div class="address-change">
    <button mat-flat-button class="flat address" (click)="modifyAddress()" *ngIf="isGeolocated">
      {{'modify_address' | translate}}</button>
    <button mat-flat-button class="flat address" (click)="ngOnInit()" *ngIf="!isGeolocated">
      {{'get_geoloc' | translate}}</button>
  </div>
</mat-toolbar>

<mat-grid-list cols="2" rowHeight="6:1" gutterSize="3px" class="tablet">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <span (click)="displayRestaurants('')">
      {{'our_restaurants' | translate}}
      <mat-icon matSuffix>room</mat-icon>
    </span>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <span (click)="displayRestaurants('fromDB')">
      {{'referenced_restaurants' | translate}}
      <mat-icon matSuffix>thumb_up_alt</mat-icon>
    </span>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <span [matMenuTriggerFor]="menu" (click)="getAllTypes()" class="chosenType">
      {{'popular_cuisine_types' | translate}}
      <mat-icon matSuffix>local_dining</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let type of types" (click)="displayRestaurants(type)">{{type}}</button>
      </mat-menu>
    </span>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <span routerLink="/add-restaurant" routerLinkActive="active">
      {{'add_an_address' | translate}}
      <mat-icon matSuffix>edit</mat-icon>
    </span>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <span routerLink="/restaurants" routerLinkActive="active">
      {{'places_search' | translate}}
      <mat-icon matSuffix>public</mat-icon>
    </span>
  </mat-grid-tile>
</mat-grid-list>

<div class="main-container">
  <div class="router-container">
    <router-outlet (activate)='onActivate($event)'></router-outlet>
  </div>
  <div class="map-container">
    <app-maps></app-maps>
  </div>
</div>
<mat-toolbar class="footer">
</mat-toolbar>