@import "../assets/sass/variables.scss";

.mat-toolbar {
  color: $blue !important;
  background-color: white !important;
  font-size: 13px;
  height: 111px;
  justify-content: space-around;
}

.header {
  border-bottom: 7px solid $yellow;
}

.logo {
  cursor: pointer;
  width: 100px;
}

.logo-toolbar {
  height: auto !important;
  position: relative;
}

.example-spacer {
  flex: 0.2 0.2 auto;
}

.menu-header {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.3px;
}

span {
  cursor: pointer;
  text-align: center;
  margin-right: 10px;
}

span:hover {
  border-bottom: 6px solid $yellow;
  padding-bottom: 13px;
}

mat-icon {
  height: 18px;
  width: 18px;
  margin-right: 5px;
}

.router-container {
  max-width: 50%;
  overflow-y: auto;
}

.map-container {
  display: unset;
  flex-basis: 100%;
}

mat-sidenav-container,
.main-container {
  height: calc(100vh - 124px);
  display: flex;
  flex-direction: row;
}

mat-toolbar {
  flex-grow: 0;
}

.footer {
  background-color: $blue !important;
  bottom: 0px;
  position: fixed;
  height: 40px;
  z-index: 10;
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-maps {
  height: 100%;
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
  .mat-toolbar {
    font-size: 10px;
  }

  .router-container {
    padding-bottom: 140px;
  }
}

@media screen and (min-width: 1024px) {
  mat-grid-list {
    display: none;
  }

  .responsive-container {
    display: none;
  }
}

@media screen and (min-width: 268px) and (max-width: 1023px) {
  mat-toolbar-row.menu-toolbar {
    display: none;
  }

  .mat-toolbar-multiple-rows {
    min-height: 90px;
  }

  mat-grid-tile {
    background-color: $yellow;
    font-weight: 700;
    color: white;

    &:hover {
      background-color: $blue;

      mat-icon {
        color: $red;
      }
    }

    span {
      text-transform: uppercase;
      flex-direction: row-reverse;

      mat-icon {
        color: white;
      }
    }
  }

  .web-container {
    display: none;
  }

  .main-container {
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin-top: -20px;

    .map-container {
      flex-basis: 30%;
      min-height: 250px;
    }

    .router-container {
      min-width: 100%;
      padding-bottom: 25px;
    }
  }
}
