@import "../../../assets/sass/variables.scss";

mat-list-item,
.upper-details,
.selected-restaurant-infos {
  display: flex;
}

.selected-restaurant-infos {
  flex-direction: column;
  color: $blue;
  max-width: 55%;
}

.rating,
.upper-details {
  justify-content: space-between;
}

mat-list-item:hover {
  background-color: $green;
  cursor: pointer;
  color: white;
}

.priceMenu {
  font-size: 12px;
}

.distance {
  font-size: 0.8em;
}

.photo {
  height: 200px;
  width: auto;
}

.legend {
  font-size: 0.8em;
}

.header,
.upper-details {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

mat-toolbar-row {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  height: 75px !important;
}

.sorting {
  background: $yellow;
  font-weight: 700;
}

.restaurant-input {
  width: 100%;
  margin-top: 20px;
}

.upper-details {
  justify-content: space-between;
  padding: 10px;

  a {
    color: white;
    font-weight: 700;
  }
}

mat-card-title {
  color: $red;
}

.selected-restaurant-button .third.mat-flat-button {
  margin-right: 15px;
}

mat-toolbar {
  position: static;
}

@media screen and (min-width: 1500px) and (max-width: 1800px) {
  .main-container {
    width: 750px;
  }
}

@media screen and (min-width: 1800px) {
  .main-container {
    width: 900px;
  }
}

@media only screen and (min-width: 268px) and (max-width: 1024px) and (orientation: landscape) {
  .mat-toolbar-row {
    font-size: 12px;
  }
}

@media only screen and (min-width: 268px) and (max-width: 1024px) and (orientation: portrait) {
  .mat-list {
    padding-bottom: 250px;
  }
}
