<div *ngIf="!hasResults">
  <mat-card>
    <mat-card-title>
      {{'no_referenced_restaurants_found' | translate}}
    </mat-card-title>
    <mat-card-content>
      {{'add_restaurant_tip' | translate}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="action" routerLink="/restaurants" routerLinkActive="active">
        {{'places_lookup' | translate}}</button>
      <button mat-button class="action" (click)="displayRestaurants('fromDB')">
        {{'see_referenced_results' | translate}}</button>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="selectedRes.length > 0" class="results-container">
  <div *ngIf="selectedRestaurantType && selectedRestaurantType == 'fromDB'">
    <span class="infos">
      {{'filter_results_by_type' | translate}}
    </span>
  </div>
  <div *ngIf="selectedRestaurantType && selectedRestaurantType != 'fromDB'" class="selectedType">
    <mat-divider></mat-divider>
    <br>
    {{selectedRestaurantType}}
    <br>
    <mat-divider></mat-divider>
  </div>
  <br>
  <div class="results-header">
    <span mat-subheader *ngIf="selectedRes && selectedRes.length <= 1">{{'we_found' | translate}} {{selectedRes.length}}
      {{'result' | translate}}</span>
    <span mat-subheader *ngIf="selectedRes && selectedRes.length > 1">{{'we_found' | translate}} {{selectedRes.length}}
      {{'results' | translate}}</span>
    <button mat-flat-button class="validate" *ngIf="isDragged"
      (click)="recenterMap()">{{'recenter' | translate}}</button>
  </div>
  <br>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let restaurant of selectedRes" [expanded]="panelOpenState"
      (mouseover)="getPositionOnMap(restaurant)" id="{{restaurant.id}}">
      <mat-expansion-panel-header (click)="commentAreaDisplay=false" (click)="displayStreetView(restaurant)">
        <mat-panel-title class="restaurant-title">
          {{restaurant.name}}
        </mat-panel-title>
        <mat-panel-description>
          <mat-chip-list>
            <mat-chip selected class="chip-first" (click)="displayRestaurants(restaurant.type)">{{restaurant.type}}
            </mat-chip>
            <mat-chip selected class="chip-second"
              matTooltip="Moyenne recueillie sur {{restaurant.ratings.length}} avis"> {{restaurant.average}} /5
            </mat-chip>
          </mat-chip-list>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="sub-header">
        <p class="restaurant-address">{{restaurant.address}}</p>
        <div>
          <!-- <button mat-flat-button class="white" (click)="displayStreetView(restaurant)">
            <mat-icon>visibility</mat-icon>
          </button> -->
          <button mat-flat-button class="white" (click)=toggleComment(restaurant) (click)="initForm()">
            <mat-icon>create</mat-icon>
          </button>
        </div>
      </div>
      <div class="comment-area" *ngIf="commentAreaDisplay">
        <mat-card class="example-container comment">
          <mat-card-header>
            <mat-card-title>{{'add_comment' | translate}}</mat-card-title>
          </mat-card-header>
          <form [formGroup]="commentForm">
            <mat-form-field class="example-full-width" appearance="outline">
              <input matInput placeholder="Votre prénom" class="form-control" formControlName="name" id="name"
                name="name">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
              <textarea matInput name="comment" formControlName="comment"
                placeholder="Exprimez en quelques mots ce qui vous a plu ou déplu dans ce restaurant"
                class="form-control" id="comment"></textarea>
              <mat-hint>{{'hint_caracters_numbers' | translate}}</mat-hint>
            </mat-form-field>
            <br>
            <ngx-stars [size]="2" color="#FFC145" initialStars="3" (ratingOutput)="onRatingSet($event)" name="notation"
              ngDefaultControl [(ngModel)]='notation' [ngModelOptions]="{standalone: true}"></ngx-stars>
            <button mat-flat-button class="second post" (click)="addComment(restaurant, $event)"
              [disabled]="commentForm.invalid">Poster</button>
          </form>
        </mat-card>
      </div>
      <div id="panorama{{restaurant.id}}"></div>
      <mat-card *ngFor="let rating of restaurant.ratings" class="comments" (click)="togglePanel()">
        <mat-card-header>
          <div mat-card-avatar></div>
          <mat-card-title>{{rating.user}}</mat-card-title>
          <mat-card-subtitle>{{rating.notation}}/5</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          {{rating.comment}}
        </mat-card-content>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
  <button mat-flat-button class="validate" *ngIf="selectedRestaurantType && selectedRestaurantType != 'fromDB'"
    (click)="displayRestaurants('fromDB')">{{'remove_filter' | translate}}</button>
</div>